.body1{
	background-color: #ebebeb;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-bottom: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.box1{
	overflow: hidden;
	position: relative;
	height: 260px;
	width: 220px;
	margin: 0 20px 0 -100px;
	
} 
.mistakespan{
	position: absolute;
	font-size: 32px;
	margin-left: -28px;
}
.monispan{
	position: absolute;
	font-size: 32px;
	margin-left: -45px;
}
.box1 img{
	max-height: 260px;
	max-width: 220px;
}
.box2{
	margin: 0 20px 0 20px;
}
.box3{
	margin: 0 20px 0 10px;
}
.box4{
	margin: 0 20px 0 10px;
}
.button1{
	width: 220px;
	line-height: 260px;
	font-size: 32px;
}
.button2{
	width: 220px;
	line-height: 260px;
	font-size: 32px;
}
.body2{
	margin-top: 20px;
	margin-bottom: 50px;
	margin-bottom: 40px;
	padding-top: 30px;
}


.body3{
	margin-top: 20px;
	margin-bottom: 50px;
	margin-bottom: 40px;
	padding-top: 30px;
}

.footer{
	margin-top: 30px;
}
.header{
	height: 36px;
}
body{
	overflow:-Scroll;overflow-x:hidden;
	width:1366px;
}
.moni{
	margin-top: 10px;
}
